@model PagedList.IPagedList<FashionShopConection.NhaSanXuat>

@using PagedList.Mvc;

@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout0.cshtml";
}

<h2>Nhà Sản Xuất</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID ")
        </th>
        <th>
            @Html.DisplayName("Tên")
        </th>
        <th>
            @Html.DisplayName("SĐT")
        </th>
        <th>
            @Html.DisplayName("Địa Chỉ")
        </th>
        <th>
            @Html.DisplayName("Mô Tả")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idNSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id= item.idNSX}) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idNSX })
        </td>
    </tr>
}

</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("/index", "NhaSX", new { page }))
</div>
