@model FashionShopConection.ChiTietSanPham

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 padding-right">
    <div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="@Model.HinhAnh" alt="" />
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="~/Assets/User/images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>@Model.TenSP</h2>
								<p>Web ID: @Model.idSP</p>
								<img src="~/Assets/User/images/product-details/rating.png" alt="" />
								<span>
									<span>@Model.GiaSP</span>
									<label>Số lượng:</label>
									<input type="text" value="1" />
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
								<p><b>Tình Trạng:</b> New</p>
								<p><b>Người Tạo:</b> E-SHOPPER</p>
								<a href=""><img src="~/Assets/User/images/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
    <div>
        @Html.Raw(Model.MoTa);
    </div>
    
   
</div>